/* top right down left */

:root {
	--cor0: #737379;
}
* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: var(--cor0);
	background-image: url(background.jpg);
	font-family:'Times New Roman', Times, serif;
}

main {
	max-width: 1200px;
	margin: 0px auto;
}

p {
	font-size: 20px;	
	color: black;
	text-align: center;
	padding: 30px;

}
.texto {
	background-color: white;
	outline: 2px solid #151514;
 	border: 1px solid var(--cor0);
 	padding: 20px;
 	margin: 10px;
	width: 50%;
	word-wrap: break-word;
	line-height: 1.5em;
}

h1 {
	color: black;
	font-size: 15px;
	text-align: center;

}

h2 {	
    color: #000000;
    padding: 10px 20px;
    font-size: 20px;
  	outline: 2px solid #0099ff;
 	border: 3px solid #006699;
	background-color: #66ccff;
	width: 20%;
}

#icon {
		width: 500px;
		display: initial;
}

img {
	width: 100%;
}
#menu {
  padding: 10px;
}

#menu ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#menu li { 
	padding: 30px;
}

#menu li:hover {
	transform: scale(1.2);
}

#menu ul ul {
    display: none;
    position: absolute;
	padding: 0 auto;
	margin: 0 auto;   
}

#menu li img {
	display: flex;
    flex-direction: column;
    align-items: center;
	padding: 10px;
	height: 100px;
	width: auto;
	
}
    
#menu a {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    padding: 10px;
}

#menu li:hover > ul {
    display: block;
	margin: 0;
	padding: 0;
	background-color: var(--cor0);
	position: absolute;
	top: auto;
	left: 20%;
}

.conteudo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
}

.left > audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
	height: 25px;
    border: solid;
    background-color: white;
	width: 300px;

}


#imagens img {
    margin: 10px;
  	outline: 3px solid #0099ff;
 	border: 3px solid #006699;
 	width:500px;
}

.left {
	width: 30%;
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

#biografia img {
    outline: 3px solid #0099ff;
    border: 3px solid #006699;
}


.img {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    padding: 15px;

}

section{
	padding: 50px;
}

.textohome p {
	font-size: 30px;
	text-align: center;
	}

.textohome h1 {
	font-size: 50px;
	background-color: none;
	color: blue;
	}


.container {
	overflow: auto;
	display: flex;
	scroll-snap-type: x mandatory;
}

.img {
	flex-shrink: 0;
	scroll-snap-align: start;
}

footer {
	margin: 0 auto;
	position: relative;

}

footer > p {
	background-color: #006699;
	padding: 30px;
	height: 100px;
	color: white;

}

.botao {
	float: right;
	position: fixed;
	top: 90%;
	left: 90%;
	border-radius: 100%;
	padding: 10px;
	background-color: #66ccff;
	outline: 3px solid #0099ff;
    border: 3px solid #006699;
}
.botao a {
	text-decoration: none;
	font-size: 30px;
}