:root {
	--cor0: #9f9f9f;
}

* {
	margin: 0 auto;
	padding: 0px;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}

body {
	background-color: var(--cor0);
	background-image: url(background.jpg);
  background-size: cover;
	font-family:'Courier New', Courier, monospace;
  font-size: 100%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 800px;    
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h2 {
  letter-spacing: 4px;
  text-transform: uppercase;
}

.social-media {
  margin-top: 1rem;
  display: flex;
}

.social-media a {
  padding: 1rem 4rem;
  border: 1px solid #1E1E2A;
  min-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s ease-in-out;
}

a:hover {
  background-color: white;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  min-height: 100vh;
  width: 800px;    
  margin: auto;
  gap: 30px;
  margin-top: 30px;
  padding-top: 60px;
  box-shadow: #1E1E2A;
  
}

.conteudo > nav, h3 {
  padding-left: 60px;
}

.nav-projetos > ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.nav-projetos > ul > li > a:hover {
  color: rgb(106, 106, 106);
}

.nav-projetos > ul > li > a:active {
  color: rgb(255, 55, 55);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#table{
  color: #474747;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 0.125rem;
  font-size: 1em;
  line-height: 1.875;
  font-weight: 400;
}

#table a:hover {
  text-decoration: underline;
}

#table .table-inner {
  width: 30rem;
}

#table thead {
  background-color: rgba(196,170,159,0.184);
}

#table th, #table td {
  border: solid 1px #C4AA9F;
  padding: 0.125rem 0.171875rem;
}

.rodape {
  text-align: center;
  padding: 30px;
}
