:root {
	--cor0: #9f9f9f;
}
* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: var(--cor0);
	background-image: url(background.jpg);
	font-family:'Courier New', Courier, monospace
}

main {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  min-height: 100vh;
  width: 800px;    
  margin: auto;
  padding: 30px;
}

nav{
  padding: 10px;
}

li {
  float: left;
}
footer {

text-align: center;
padding: 30px;
color: white;
}

