  @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

/* font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Sarala', sans-serif;
    
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
    padding: 1rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    height: 6.8rem;
  }

.logo {
    height: 72px;
}

.menu {
    display: flex;
    gap: 1.5rem;
}

.menu > li a {
    font-family: 'Sarala', sans-serif;
    color: rgba(255, 242, 231, 1);
    font-weight: 400;
    font-size: 18px;
    display: block;

}

.btn-menu {
    display: none;
  }

.content {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
}

.principal-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.principal-content-written {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.principal-content-written > h1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.principal-content-written > h2 {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}

.principal-content-written > button {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
}

.principal-content-written > button:hover {
    background-color: rgba(236, 214, 196, 0.53);
    cursor: pointer;
}

.principal-content-img {
    height: 430px;
}

.secondary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.secondary-content h3 {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16px;
}

.secondary-content p {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
}

footer {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;

}

footer img {
    height: 48px;
    display: block;
    margin: 0 auto;
}
  
  @media (max-width: 700px) {

    .header {
        justify-content: space-between;
    }
    .menu {
      display: block;
      position: absolute;
      top: 8rem;
      left: 0;
      background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);;
      text-align: center;
      width: 100%;
      height: 0;
      z-index: 1;
      visibility: hidden;
      overflow-y: hidden;
      transition: 0.5s;
    }
    .menu a {
      padding: 1rem 0;
      margin-inline: 1rem;
      border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
      border-radius: 0;
    }
    .btn-menu {
      background: none;
      border: none;
      font: inherit;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: white;
      padding: 1rem 0;
      cursor: pointer;
    }
    .hamburger {
      border-top: 0.125rem solid;
      width: 1.25rem;
    }
    .hamburger::after,
    .hamburger::before {
      content: " ";
      display: block;
      width: 1.25rem;
      height: 0.125rem;
      background: currentColor;
      margin-top: 0.3125rem;
      position: relative;
      transition: 0.3s;
    }
    .nav.active .menu {
      height: calc(100vh - 7rem);
      visibility: visible;
      overflow-y: auto;
    }
    .nav.active .hamburger {
      border-top-color: transparent;
    }
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -0.4375rem;
    }

    li:hover {
        background-color: #8E5D52;
    }
    body {
        display: flex;
        flex-direction: column;
        width: fit-content;
        padding: 1rem;
    }

    .principal-content {
       display: flex;
       flex-direction: column;
       align-items: center;
    }

    .principal-content-img {
        height: 30vh;
    }
  }