/* FONTES */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
    font-family: "BalooPaaji";
    src: url("../fontes/BalooPaaji-Regular.ttf");
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* VARIAVEIS */

:root {
    --primaria: #f366a3;
    --variacao-primaria: #b94e7c;
    --secundaria: #ffe8e8;
    --fundo: #fff9f1;
    --texto: #222222;
    --variacao-texto: #fff9f1;
}

/* LAYOUT */

html {
    min-width: 350px;
    font-family: "Roboto";
    color: var(--texto);
    background-color: var(--fundo);
}

section {
    padding: 1em;
    display: flex;
    align-items: center;
}

.container {
    overflow: auto;
    padding: 1em;
    border-radius: 3vw 4vw 8vw 2vw;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    & img {
        width: 35%;
    }
    & div {
        width: 60%;
    }
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1em;
    position: relative;
    & img {
        height: 10vh;
        & div {
            width: 100%;
            position: absolute;
        }
    }
}

    .cover {
        background-image: url("../imagens/cover.png");
        background-size: cover;
        height: 100vh;
    }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    & img {
        width: 100%;
        height: 100%;
    }
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
@layer grid {
    @layer grid3x3 {
        .galeria3x3 {
            display: grid;
            grid-template-rows: auto auto auto;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            & div.galeria-projetos {
                position: relative;

                & img {
                    object-fit: cover;
                    border-radius: inherit;
                    position: relative;
                }
            }
        }
    }
    .destaque {
        grid-column: span 3;
        grid-row: span 2;
    }
    .rounded {
        border-radius: 2rem;
    }
    @layer grid2x2 {
        .galeria2x2 {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            & div.galeria-projetos {
                border-radius: 2rem;
                position: relative;

                & img {
                    object-fit: cover;
                    border-radius: inherit;
                    position: relative;
                }
                &:first-child {
                    grid-row: span 2;
                    grid-column: span 2;
                }
            }
        }
        .reverse {
            grid-template-columns: repeat(3, 1fr);
            grid-auto-flow: dense;
            direction: rtl;
        }
    }
}

.galeria-projetos:hover .overlay {
    opacity: 1;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
    background-color: var(--secundaria);
}

footer img {
    height: 80%;
    width: auto;
}

/* TIPOGRAFIA */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "BalooPaaji";
    color: var(--primaria);
    text-transform: uppercase;
    font-size: 2em;
}

p {
    font-size: 1em;
    line-height: 150%;
    text-align: center;
}

nav,
button {
    font-family: "Roboto";
    font-weight: 500;
}

.text {
    color: white;
    font-size: 3em;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    font-family: "BalooPaaji";
    left: 50%;
    transform: translate(-50%, -50%);
}

/* COMPONENTES */

nav {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 0.3rem 2rem 0.3rem 2rem;
    & ul {
        display: flex;
        gap: 3em;
        padding: 1em;
        align-items: center;
        list-style-type: none;
        justify-content: flex-end;
        & a {
            text-decoration: none;
            color: var(--texto);
            & :hover {
                color: var(--variacao-primaria);
            }
        }
    }
}
.menu-scrolled {
    background-color: var(--fundo);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

button {
    padding: 1em 2em;
    background-color: var(--primaria);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: var(--variacao-texto);
    align-self: end;
    justify-self: end;
    margin: 1em;

    &:hover {
        background-color: var(--variacao-primaria);
    }

    &:active {
        opacity: 0.8;
        transform: scale(0.98);
    }
}

.icon img {
    height: 2em;
}
