@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Work+Sans&display=swap');
$primary:#0071BB;
$secondary:#F68121;
$spacer: 32px;
$body-bg: #F4F4F4;
$headings-margin-bottom:      $spacer * .5;
$headings-font-weight:        bold;
$headings-line-height:        1.2;
// stylelint-enable value-keyword-case
$font-family-base:"Work Sans";
@import "../node_modules/bootstrap/scss/bootstrap";
