    <header class="header">
        <img src="assets/logo.svg" alt="logo" class="logo">
        <h1 class="title header-content">Mariaaaaa</h1>
        <h2 class="subtitle header-content">projetos e serviços</h2>
        <img class="enterprise header-content" src="/assets/search.svg" alt="procurar" width="100px">
    </header>
    <nav class="topnav" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="#sobre">Sobre</a>
        <a href="#curriculo">Currículo</a>
        <a href="/utils.html">Utilidades</a>
        <a href="#projetos">Projetos</a>
        <a href="#contato">Contato</a>
        <a href="#faq">FAQ</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
    <aside class="aside">Projetos em Destaque</aside>