/* top right down left */

:root {
	--cor0: #737379;
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	list-style: none;
}

body {
	background-color: var(--cor0);
	background-image: url(background.jpg);
	font-family:'Courier New', Courier, monospace;
	font-weight: 700;
	max-width: 100%;
}

main {
	margin: 0px auto;
	width: 80%;    

}

h1 {
	color: blue;
	font-size: 3rem;
	text-align: center;

}

h2 {	
    color: #000000;
    padding: 10px 20px;
    font-size: 1.5rem;
  	outline: 2px solid #0099ff;
 	border: 3px solid #006699;
	background-color: #66ccff;
	width: 20rem;
}

#icon {
		width: 500px;
		display: initial;
}

p {
	font-size: 1.5rem;	
	color: black;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 400;
}

.textohome p {
	font-size: 30px;
	padding: 30px;
    text-align: center;}


#menu {
	display: block;
	padding: 5rem;
}

#menu ul {
	display: flex;
	align-items: baseline;
	gap: 7rem;
	display: flex;  
	justify-content: center;
}

#menu ul li a {
	color: black;
    font-size: 1rem;
	transition: all 0.5s;
}

#menu ul li a:hover {
	color: blue;
}

section {
	padding-bottom: 5rem;
}
.conteudo {
	width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    padding-top: 3rem;
}

#biografia img {
    outline: 3px solid #0099ff;
    border: 3px solid #006699;
	width: 23rem;
}

.texto {
	background-color: white;
	outline: 2px solid #151514;
 	border: 1px solid var(--cor0);
 	padding: 20px;
	word-wrap: break-word;
	max-width: 37rem;
}

#menu a {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#menu a img {
	width: 6rem;
}

audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
	height: 25px;
    border: solid;
    background-color: white;
	width: 300px;
	margin-top: 2rem;

}

.container {
	overflow: auto;
	display: flex;
	scroll-snap-type: x mandatory;
}

.img {
	flex-shrink: 0;
	scroll-snap-align: start;
    padding-top: 3rem;
}

footer {
	margin: 0 auto;
	position: relative;

}

footer > p {
	background-color: #006699;
	padding: 30px;
	height: 100px;
	color: white;
	display: flex;
    align-items: center;
    justify-content: center;

}

.botao {
	float: right;
	position: fixed;
	top: 90%;
	left: 90%;
	border-radius: 100%;
	padding: 10px;
	background-color: #66ccff;
	outline: 3px solid #0099ff;
    border: 3px solid #006699;
}
.botao a {
	text-decoration: none;
	font-size: 30px;
}


@media (max-width: 768px) {
	
	#icon {
		width: 100%;
	}

	#menu {
	padding: 18px 20px;
	position: relative;
	justify-content: flex-start;
	}

	#menu ul {
		flex-wrap: wrap;
		justify-content: center;
	}

	.conteudo {
		padding: 40px;
	}
	
	main {
		margin: 1rem;
	}

	.texto {
		font-size: 1rem;
	}
	.textohome {
		margin: 1rem;
	}

	#biografia img, img {
		width: 200px;
	}

	h2 {
		text-align: center;
		margin: 0 auto;
	}

	.botao {
		display: none;
	}
}
